
.checkout {
  padding: 2rem;
  background-color: #0d1117;
  color: white;
}
.checkout h1, .checkout h2 {
  color: #00ffcc;
}
.checkout-form form {
  max-width: 500px;
  margin-top: 2rem;
}
.checkout-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
}
.checkout-form button {
  background-color: #00ffcc;
  border: none;
  padding: 0.5rem 1rem;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
}
